.chat-log {
  background-color: black;
  border: 1px solid slategray;
  padding: 1rem;
  height: 500px;
  overflow: auto;
}

.chat-title {
  font-size: large;
  font-weight: bold;
  padding: 1rem;
}

.chat-message {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.chat-message-self {
  color: mediumspringgreen;
}

.chat-message-other {
  color: whitesmoke;
}

.chat-feedback {
  color: gray;
}

.chat-entry {
  margin: 1rem 0rem;
}

